<app-header
        [title]="'The Quest Bot'"
        [subtitle]="'A bot that sends heroes on quests until they die.'"
></app-header>
<app-body>
    <div class="row">
        <div class="col-md-6 my-3">
            <a (click)="goToCurrentHero()">
                <app-card [title]="'Current Hero Story'" [icon]="'fa-street-view'" [useHover]="true">
                    <p>
                        See how the current hero is doing.
                    </p>
                </app-card>
            </a>
        </div>
        <div class="col-md-6 my-3">
            <a (click)="goToWorld()">
                <app-card [title]="'World'" [icon]="'fa-globe'" [useHover]="true">
                    <p>
                        See the current world.
                    </p>
                </app-card>
            </a>
        </div>
        <div class="col-md-6 my-3">
            <a (click)="goToFallenHeroes()">
                <app-card [title]="'Hall of Fallen Heroes'" [icon]="'fa-book'" [useHover]="true">
                    <p>
                        See the stories of legendary heroes.
                    </p>
                </app-card>
            </a>
        </div>
        <div class="col-md-6 my-3">
            <a (click)="goToHeroStats()">
                <app-card [title]="'Hero Statistics'" [icon]="'fa-line-chart'" [useHover]="true">
                    <p>
                        See the statistics of all heroes.
                    </p>
                </app-card>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-6 my-3">
            <a
                    href="https://aoti-app-hub.herokuapp.com/donate"
                    target="_blank"
            >
                <app-card [title]="'Donate to Charity'" [icon]="'fa-money'" [useHover]="true">
                    <p>
                        Like this free website? Pay it forward to a charity I support.
                    </p>
                </app-card>
            </a>
        </div>
        <div class="col-md-6 my-3">
            <a (click)="goToInfo()">
                <app-card [title]="'More Information'" [icon]="'fa-info-circle'" [useHover]="true">
                    <p>
                        Just curious about this site? Get more information about this website.
                    </p>
                </app-card>
            </a>
        </div>
    </div>
</app-body>
