<app-header
        [title]="'Fallen Heroes'"
></app-header>
<app-body>
    <div class="row">
        <div class="col-md-12 my-3">
            <app-card>
                <ng-container *ngIf="ready; else loading">
                    <p *ngIf="!hasHeroes">
                        No Fallen Heroes
                    </p>
                    <ng-container *ngIf="hasHeroes">
                        <p>
                            Showing {{fallenHeroes.length}} fallen hero(es)...
                        </p>
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Level</th>
                                <th>Story Length</th>
                                <th>Story Dates</th>
                                <th>More Info</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let hero of fallenHeroes">
                                <td>{{hero.name}}</td>
                                <td>Lvl. {{hero.level}}</td>
                                <td>{{hero.age}} updates</td>
                                <td>
                                    {{hero.startDate | date:'short'}}
                                    to
                                    {{hero.deathDate | date:'short'}}
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary" (click)="goToHeroDisplay(hero)">
                                        <i class="fa fa-info-circle"></i>
                                        More Info
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </ng-container>
                </ng-container>
            </app-card>
        </div>
    </div>
</app-body>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
