<app-body>
    <div class="row">
        <div class="col-md-12 my-3">
            <app-card [title]="'Fallen Heroes'">
                <ng-container *ngIf="ready; else loading">
                    <p *ngIf="!hasHeroes">
                        No Fallen Heroes
                    </p>
                    <ng-container *ngIf="hasHeroes">
                        <p>
                            Showing {{fallenHeroes.length}} fallen hero(es)...
                        </p>
                        <div class="row">
                            <div class="col-md-4 my-2" *ngFor="let hero of fallenHeroes">
                                <app-card (click)="goToHeroDisplay(hero)"
                                          [title]="hero.name"
                                          [subtitle]="'Lvl. ' + hero.level + ' ~ ' + hero.completedQuests.length + ' quests ~ ' + hero.age + ' updates'"
                                          [useHover]="true">
                                    <p>
                                        {{hero.alignment}}
                                    </p>
                                    <p>
                                        Started:
                                        {{hero.startDate | date:'short'}}
                                    </p>
                                    <p>
                                        Ended:
                                        {{hero.deathDate | date:'short'}}
                                    </p>
                                </app-card>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </app-card>
        </div>
    </div>
</app-body>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
