<app-header
        [title]="'Fallen Heroes'"
></app-header>
<app-body>
    <div class="row">
        <div class="col-md-12 my-3">
            <app-card>
                <ul class="list-group" *ngIf="ready; else loading">
                    <li class="list-group-item" *ngFor="let hero of fallenHeroes">
                        <!--                        TODO better rows -->
                        {{hero.name}}
                        <a (click)="goToHeroDisplay(hero)">DETAILS</a>
                    </li>
                </ul>
            </app-card>
        </div>
    </div>
</app-body>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
