<app-header [title]="'Admin Panel'"></app-header>
<app-body>
    <div class="row">
        <div class="col-md-6 my-3">
            <app-card [title]="'Admin'">
                <p>
                    <button class="btn btn-block btn-danger" (click)="deleteAllHeroes()">
                        Delete All Heroes
                    </button>
                </p>
                <p>
                    <button class="btn btn-block btn-primary" (click)="advanceHero()">
                        Advance Hero
                    </button>
                </p>
            </app-card>
        </div>
        <div class="col-md-6 my-3">
            <app-card [title]="'Advanced Settings'">
                <p>
                    <a
                            class="btn btn-block btn-primary"
                            href="https://aoti-user-management-ui.herokuapp.com/dashboard"
                            target="_blank"
                    >
                        User Management
                    </a>
                </p>
            </app-card>
        </div>
    </div>
</app-body>
