<app-card [title]="heroTitle" [subtitle]="heroSubtitle" *ngIf="hasHero">
    <section id="recent-update">
        <h4>
            {{recentUpdateText}}
        </h4>
        <p>
            <em>
                {{recentUpdate}}
            </em>
        </p>
    </section>
    <section id="stats">
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h4>
                    Stats
                </h4>
                <ul class="list-item-group">
                    <li class="list-item">
                        Strength: {{hero.stats.strength}}
                    </li>
                    <li class="list-item">
                        Dexterity: {{hero.stats.dexterity}}
                    </li>
                    <li class="list-item">
                        Wisdom: {{hero.stats.wisdom}}
                    </li>
                    <li class="list-item">
                        Charisma: {{hero.stats.charisma}}
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>
                    Special Moves
                </h4>
                <ul class="list-item-group">
                    <li class="list-item" *ngFor="let move of hero.specialMoves">
                        {{move.name}}
                        <span class="badge badge-dark">
                            {{displayType(move)}} x{{move.multiplier}}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>
                    Other
                </h4>
                <ul class="list-item-group">
                    <li class="list-item">
                        Traits: {{hero.stats.advantage}} and {{hero.stats.disadvantage}}
                    </li>
                    <li class="list-item" *ngFor="let item of hero.stats.inventory">
                        Item: {{item}}
                    </li>
                    <li class="list-item" *ngFor="let ally of hero.stats.party">
                        Ally: {{ally}}
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="quest" *ngIf="hero.questInfo">
        <hr>
        <h4>Current Quest: {{hero.questInfo.title}}</h4>
        <p>{{hero.questInfo.flavorText}}</p>
    </section>
    <section id="legacy">
        <hr>
        <h4>Legacy</h4>
        <p>
            Backstory: {{hero.backstory}}
        </p>
        <p>
            Story Told: {{hero.startDate | date:'short'}}
            to
            <span *ngIf="hero.deathDate">
                {{hero.deathDate | date:'short'}}
            </span>
            <span *ngIf="!hero.deathDate">
                ???
            </span>
        </p>
        <p>
            Total Distance Travelled:
            {{hero.distanceTravelledTotal}} miles
        </p>
        <p>
            Unique Chapters:
            {{hero.uniqueChapterCount}} chapters
        </p>
        <p>
            Unique Quests:
            {{hero.uniqueQuestCount}} quests
        </p>
    </section>
    <section id="journal">
        <hr>
        <h4>
            Journal
        </h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let message of hero.journal">
                {{message}}
            </li>
        </ul>
    </section>
</app-card>

<app-card *ngIf="!hasHero">
    <p>
        No Hero Found
    </p>
</app-card>
