<app-card [title]="heroTitle" [subtitle]="heroSubtitle" *ngIf="hasHero">
    <section id="recent-update">
        <p>
            <em>
                {{recentUpdate}}
            </em>
        </p>
    </section>
    <section id="stats">
        <hr>
        <div class="row">
            <div class="col-md-3">
                <h4>
                    Stats
                </h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        Strength: {{hero.stats.strength}}
                    </li>
                    <li class="list-group-item">
                        Dexterity: {{hero.stats.dexterity}}
                    </li>
                    <li class="list-group-item">
                        Wisdom: {{hero.stats.wisdom}}
                    </li>
                    <li class="list-group-item">
                        Charisma: {{hero.stats.charisma}}
                    </li>
                    <li class="list-group-item">(+) {{hero.stats.advantage}}</li>
                    <li class="list-group-item">(-) {{hero.stats.disadvantage}}</li>
                    <li class="list-group-item">Race: {{hero.race.toLowerCase()}}</li>
                    <li class="list-group-item">Alignment: {{hero.alignment.toLowerCase()}}</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>
                    Inventory
                </h4>
                <p *ngIf="hero.inventory.length === 0">
                    No items.
                </p>
                <ul class="list-group mb-4">
                    <li class="list-group-item" *ngFor="let item of hero.inventory">
                        <i class="fa fa-cube"></i>
                        {{item}}
                    </li>
                </ul>
                <h4>
                    Party
                </h4>
                <p *ngIf="hero.party.length === 0">
                    No allies.
                </p>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ally of hero.party">
                        <i class="fa fa-user"></i>
                        {{ally}}
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>
                    Standard Moves
                </h4>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let move of hero.standardMoves">
                        {{move.name}}
                        <span class="badge badge-info">
                            {{displayType(move)}}
                            <span *ngIf="move.multiplier">
                                x{{move.multiplier}}
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>
                    Special Moves
                </h4>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let move of hero.specialMoves">
                        {{move.name}}
                        <span class="badge badge-info">
                            {{displayType(move)}}
                            <span *ngIf="move.multiplier">
                                x{{move.multiplier}}
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="completed-quests">
        <hr>
        <h4>Quests</h4>
        <p *ngIf="hero.currentQuest">
            Current Quest: {{hero.currentQuest}} - {{hero.currentQuestDetails}}
        </p>
        <p>
            Completed {{hero.completedQuests.length}} quests ({{hero.uniqueCompletedQuests.length}} unique)
        </p>
        <p *ngIf="hero.completedQuests.length > 0">
            <span class="badge badge-info mr-2" *ngFor="let quest of hero.completedQuests">
                {{quest}}
            </span>
        </p>
    </section>
    <section id="completed-chapters">
        <hr>
        <h4>Chapters</h4>
        <p *ngIf="hero.currentChapter">
            Current Chapter:  {{hero.currentChapter}}
        </p>
        <p>
            Completed {{hero.completedChapters.length}} chapters ({{hero.uniqueCompletedChapters.length}} unique)
        </p>
        <p *ngIf="hero.completedChapters.length > 0">
            <span class="badge badge-info mr-2" *ngFor="let chapter of hero.completedChapters">
                {{chapter}}
            </span>
        </p>
    </section>
    <section id="legacy">
        <hr>
        <h4>Legacy</h4>
        <p>
            Story Told: {{hero.startDate | date:'short'}}
            to
            <span *ngIf="hero.deathDate">
                {{hero.deathDate | date:'short'}}
            </span>
            <span *ngIf="!hero.deathDate">
                ???
            </span>
        </p>
        <p>
            Total Distance Travelled:
            {{hero.distanceTravelledTotal}} miles
        </p>
        <p>
            Total Damage Taken:
            {{hero.damageTakenTotal}} miles
        </p>
    </section>
    <section id="journal">
        <hr>
        <h4>
            Journal
            <span class="btn-group ml-5">
                <button class="btn btn-secondary" [class.active]="showFullMessage" (click)="setFullMessage(true)">
                    <i class="fa fa-check" *ngIf="showFullMessage"></i>
                    Show Full Messages
                </button>
                <button class="btn btn-secondary" [class.active]="!showFullMessage" (click)="setFullMessage(false)">
                    <i class="fa fa-check" *ngIf="!showFullMessage"></i>
                    Abbreviate Messages
                </button>
            </span>
        </h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let message of hero.journal">
                {{abbreviateJournalMessage(message)}}
            </li>
        </ul>
    </section>
</app-card>

<app-card *ngIf="!hasHero">
    <p>
        No Hero Found
    </p>
</app-card>
